body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
}
.app {
  width: 100%;
  height: 100vh;
}
.wrapper {
  margin: 50px;
}
.current_weather {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.temperature {
  font-size: 2rem;
  font-weight: bold;
  margin: 4% 0 5px;
}
.pollution {
  margin: 4% 0;
}
